/* ==========================================================================
  Buttons
========================================================================== */


.btn {
  background: #5fc384;
  color: #fdfadc;
  padding: 20px 50px 18px;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  outline: none;
  border: none;
  transition: all .2s ease-in-out;
  @include leagueGothic();
  &:hover,
  &:focus {
    background: darken(#5fc384, 20%);
    color: #fdfadc;
  }
  &:focus,
  &:active {
    outline: 0;
  }

  @include breakpoint(xSmall) {
    width: 100%;
    display: block;
    padding-right: 0;
    padding-left: 0;
  }
}

.btn-outline {
  background: none;
  padding: 10px 26px 8px;
  font-size: 16px;
  border: 2px solid #5fc384;
  &:hover,
  &:focus {
    background: none;
    border-color: darken(#5fc384, 20%);
  }
}